.samsung.json.backup
[
    {
        "type": "tab",
        "id": "334cf31e.e5bd5c",
        "label": "Flow 1"
    },
    {
        "id": "d6291d4d.151c4",
        "type": "ui_tab",
        "z": "334cf31e.e5bd5c",
        "name": "TV",
        "icon": "dashboard",
        "order": "1"
    },
    {
        "id": "6dd33210.dc0a3c",
        "type": "ui_button",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "VOL UP",
        "payload": "",
        "topic": "",
        "group": "Volume",
        "order": "2",
        "x": 107.00003051757812,
        "y": 271.99998474121094,
        "wires": [
            [
                "523f9241.5cbbec"
            ]
        ]
    },
    {
        "id": "4f24ba7f.9757f4",
        "type": "ui_button",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "VOL DOWN",
        "payload": "",
        "topic": "",
        "group": "Volume",
        "order": "2",
        "x": 113,
        "y": 351.99996185302734,
        "wires": [
            [
                "ac4ae647.329518"
            ]
        ]
    },
    {
        "id": "98e20880.9612e8",
        "type": "ui_button",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "Mute",
        "payload": "",
        "topic": "",
        "group": "Volume",
        "order": "2",
        "x": 137,
        "y": 411.99999237060547,
        "wires": [
            [
                "b35c662b.8a4688"
            ]
        ]
    },
    {
        "id": "e7eea491.b9fd88",
        "type": "ui_button",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "HDMI",
        "payload": "",
        "topic": "",
        "group": "Control",
        "order": 1,
        "x": 89,
        "y": 139.9999771118164,
        "wires": [
            [
                "6ac369f1.329c28"
            ]
        ]
    },
    {
        "id": "a50f96e8.3d4248",
        "type": "ui_button",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "Power Off",
        "payload": "",
        "topic": "",
        "group": "Control",
        "order": "2",
        "x": 83,
        "y": 199.99999237060547,
        "wires": [
            [
                "410bf09e.05555"
            ]
        ]
    },
    {
        "id": "5b80360e.fb33a8",
        "type": "ui_template",
        "z": "334cf31e.e5bd5c",
        "tab": "d6291d4d.151c4",
        "name": "",
        "group": "Success",
        "order": "3",
        "format": "{{msg.success}}",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6ac369f1.329c28",
        "type": "function",
        "z": "334cf31e.e5bd5c",
        "name": "",
        "func": "msg.command = 'KEY_HDMI';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240.50003051757812,
        "y": 145.00005340576172,
        "wires": [
            [
                "1eca3382.f11b1c"
            ]
        ]
    },
    {
        "id": "410bf09e.05555",
        "type": "function",
        "z": "334cf31e.e5bd5c",
        "name": "",
        "func": "msg.command = 'KEY_POWEROFF'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 232.50003051757812,
        "y": 209.00003814697266,
        "wires": [
            [
                "1eca3382.f11b1c"
            ]
        ]
    },
    {
        "id": "ac4ae647.329518",
        "type": "function",
        "z": "334cf31e.e5bd5c",
        "name": "",
        "func": "msg.command = 'KEY_VOLDOWN'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 279.6666259765625,
        "y": 353.66661834716797,
        "wires": [
            [
                "1eca3382.f11b1c"
            ]
        ]
    },
    {
        "id": "523f9241.5cbbec",
        "type": "function",
        "z": "334cf31e.e5bd5c",
        "name": "",
        "func": "msg.command = 'KEY_VOLUP'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 255.6666259765625,
        "y": 281.66663360595703,
        "wires": [
            [
                "1eca3382.f11b1c"
            ]
        ]
    },
    {
        "id": "b35c662b.8a4688",
        "type": "function",
        "z": "334cf31e.e5bd5c",
        "name": "",
        "func": "msg.command = 'KEY_MUTE'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 315.6666259765625,
        "y": 409.6666488647461,
        "wires": [
            [
                "1eca3382.f11b1c"
            ]
        ]
    },
    {
        "id": "1eca3382.f11b1c",
        "type": "samsungTV",
        "z": "334cf31e.e5bd5c",
        "ip": "192.168.1.106",
        "command": "",
        "name": "TV",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "5b80360e.fb33a8"
            ]
        ]
    },
    {
        "id": "55bec51.daf6a3c",
        "type": "samsungTV",
        "z": "334cf31e.e5bd5c",
        "ip": "192.168.1.106",
        "command": "",
        "name": "TV",
        "x": 450,
        "y": 620,
        "wires": [
            []
        ]
    }
]